services:
  java-finflow-auth-service:
    build: .
    ports: ["9001:9001"]
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/finflow
      SPRING_DATASOURCE_USERNAME: finflow
      SPRING_DATASOURCE_PASSWORD: finflow
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_KAFKA_BOOTSTRAPSERVERS: kafka:9092
      AUTH_SERVICE_URL: http://java-finflow-auth-service:9001
    depends_on:
      - postgres
      - redis
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: finflow
      POSTGRES_USER: finflow
      POSTGRES_PASSWORD: finflow
    ports: ["5432"]
  redis:
    image: redis:7
    ports: ["6379"]