version: '3.8'
services:
  auth-app:
    build: .
    container_name: java-auth-app
    ports:
      - "9001:9001"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth-db:5432/auth_db
      - SPRING_DATA_REDIS_HOST=auth-redis
    depends_on:
      - auth-db
      - auth-redis

  auth-db:
    image: postgres:15
    container_name: java-auth-postgres
    ports:
      - "15401:5432"
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    volumes:
      - auth_pg_data:/var/lib/postgresql/data

  auth-redis:
    image: redis:7-alpine
    container_name: java-auth-redis
    ports:
      - "16401:6379"

volumes:
  auth_pg_data: